.git
.local
**/node_modules
**/.env
**/.env.*
**/.turbo
**/dist
**/.output
**/.tanstack
**/.nitro
**/coverage
.impeccable
*.tsbuildinfo
backups
**/*.pem
**/*.key
**/*.p12
**/*.dump
**/*.log

.scratch
