<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <application>
    <!-- HushOS in the system file picker and Files: every access goes through this provider. -->
    <provider
      android:name="com.hushos.files.HushOSDocumentsProvider"
      android:authorities="${applicationId}.documents"
      android:exported="true"
      android:grantUriPermissions="true"
      android:permission="android.permission.MANAGE_DOCUMENTS">
      <intent-filter>
        <action android:name="android.content.action.DOCUMENTS_PROVIDER" />
      </intent-filter>
    </provider>
  </application>
</manifest>
