@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 233 100% 95%;
        --foreground: 233 5% 0%;

        --card: 233 50% 90%;
        --card-foreground: 233 5% 10%;

        --popover: 233 100% 95%;
        --popover-foreground: 233 100% 0%;

        --primary: 233 49% 54%;
        --primary-foreground: 0 0% 100%;

        --secondary: 233 30% 70%;
        --secondary-foreground: 0 0% 0%;

        --muted: 195 30% 85%;
        --muted-foreground: 233 5% 35%;

        --accent: 195 30% 80%;
        --accent-foreground: 233 5% 10%;

        --destructive: 0 100% 30%;
        --destructive-foreground: 233 5% 90%;

        --border: 233 30% 50%;
        --input: 233 30% 18%;
        --ring: 233 49% 54%;

        --radius: 0.5rem;
    }

    html.dark,
    html[data-theme='dark'] {
        --background: 233 50% 5%;
        --foreground: 233 5% 90%;

        --card: 233 50% 0%;
        --card-foreground: 233 5% 90%;

        --popover: 233 50% 5%;
        --popover-foreground: 233 5% 90%;

        --primary: 233 49% 54%;
        --primary-foreground: 0 0% 100%;

        --secondary: 233 30% 10%;
        --secondary-foreground: 0 0% 100%;

        --muted: 195 30% 15%;
        --muted-foreground: 233 5% 60%;

        --accent: 195 30% 15%;
        --accent-foreground: 233 5% 90%;

        --destructive: 0 100% 30%;
        --destructive-foreground: 233 5% 90%;

        --border: 233 30% 18%;
        --input: 233 30% 18%;
        --ring: 233 49% 54%;
    }

    html.dark .shiki,
    html.dark .shiki span {
        color: var(--shiki-dark) !important;
        background-color: var(--shiki-dark-bg) !important;
        /* Optional, if you also want font styles */
        font-style: var(--shiki-dark-font-style) !important;
        font-weight: var(--shiki-dark-font-weight) !important;
        text-decoration: var(--shiki-dark-text-decoration) !important;
    }

    * {
        border-color: hsl(var(--border));
    }

    html {
        -webkit-tap-highlight-color: transparent;
        scroll-behavior: smooth;
    }

    html,
    body {
        height: 100%;
    }

    body {
        font-family: theme('fontFamily.sans');
        font-feature-settings: 'ss01';

        background-color: hsl(var(--background));
        color: hsl(var(--foreground));
    }
}
